/*font family*/
p{
	font-family: Arial;
}
h1{
	font-family: Georgia;
}
body	{
	font-size: 10px; 
}
h1{
	font-size: 5em;
}
p{
	font-size: 2em;
}
span{
	font-size: 2em;
}
h2{
	font-weight: bold;
}
h1{
	text-align: right;
}
p{
	text-align: center;
}
p{
	line-height: 1.5;
}
p{
	text-decoration: underline;
}