/* border color: #bdc3c7
date color: #3498db
h2 color #2c3e50

font: source sans pro
*/
body{
	border: 20px solid #bdc3c7;
	margin: 20px auto;
	width: 700px;
	max-width: 80%;
	padding: 20px;
}
.date{
	text-transform: uppercase;
	color: #3498db;
	letter-spacing: 4px;
	font-family: 'Source Sans Pro', sans-serif;
	margin: 25px;
	font-weight: 500;
}
h2{
	color: #2c3e50;
	font-family: 'Source Sans Pro', sans-serif;
	font-size: 2rem;
	margin: 25px;
	font-weight: bolder;
}
p{
	color: black;
	font-family: 'Source Sans Pro', sans-serif;
	margin-left: 25px;
	margin-right: 25px;
	font-weight: 500;
}
.line{
	padding-left: 10px;
	border-left: 5px solid lightgray;
	margin-left: 25px;
	margin-right: 25px;
}
hr{
	  height: 30px; 
  border-style: solid; 
  border-color: #8c8b8b; 
  border-width: 1px 0 0 0; 
}
.sline{
	margin-bottom: 25px;
}